
.anime-container {
    /* background: orange; */
    width: 400px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1rem;
    transition: all 500ms ease-in-out;
  }
  .anime-container:hover{
    
    transform: scale(1.025);
  }
  
  .anime-poster {
    height: 500px;
    
    width: 100%;
    object-fit: cover;
  
    /* border-radius: 17px; */
  }
  .anime-spec {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Child selector - combinators */
  .anime-spec > p {
    font-size: 22px;
    font-weight: bold;
  }
  
  .anime-summary {
    margin-top: 0px;
    color: #7c6e6e;
    text-align: justify;
  }
  
  .anime-details {
    padding: 1rem;
  }
  .buttonsUI{
    display: flex;
    justify-content: space-between;

  }
  /* .language{
    margin:1rem;
  } */