<div class="anime-container">
  <img [src]="Anime.poster" [alt]="Anime.title" class="anime-poster" />
  <div class="anime-details">
    <div class="anime-spec">
      <h2 class="anime-name">
        {{ Anime.title }}
        <button
          (click)="toggle()"
          mat-icon-button
          color="primary"
          aria-label="Toggle Summary"
        >
          <mat-icon *ngIf="value; else moreIcon">expand_less</mat-icon>
          <ng-template #moreIcon>
            <mat-icon>expand_more</mat-icon>
          </ng-template>
        </button>

        <button
          (click)="gotoMovieDetail()"
          mat-icon-button
          color="primary"
          aria-label="Toggle Summary"
        >
          <mat-icon>info</mat-icon>
        </button>
      </h2>
      <p class="anime-rating">⭐{{ Anime.rating }}</p>
    </div>
    <p>{{ Anime.genres.join(" | ") }}</p>
    <p class="language">
      <span *ngFor="let language of Anime?.languages; last as isLast">
        {{ getLabelLanguages(language) }}
        <span *ngIf="!isLast"> | </span>
      </span>
    </p>
    <p *ngIf="value" class="anime-summary">
      {{ Anime.summary }}
    </p>

    <div class="buttonsUI">
      <div class="left">
        <app-like-dislike
          [like]="Anime.like"
          [dislike]="Anime.dislike"
          (likeCount)="updateLikecount($event)"
          (disLikecount)="updatedisLikecount($event)"
        ></app-like-dislike>
      </div>
      <div class="right">
        <button
          mat-icon-button
          color="accent"
          aria-label="Edit Movie"
          (click)="viewEdit()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Delete Movie"
          (click)="deleteAnime()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
