<div class="input">
  <form [formGroup]="searchForm" class="search-form">
    <mat-icon>search</mat-icon
    ><input
      type="search"
      formControlName="search"
      placeholder="Search"
      list="search_list"
    />

    <datalist id="search_list">
      <option
        class="option"
        *ngFor="let mv of AnimeList"
        value="{{ mv.title }}"
      ></option>
    </datalist>
  </form>
</div>

<!-- <div class="search">
    <form [formGroup]="searchForm" class="search-form">
      <input
        formControlName="search"
        class="searchBar"
        type="search"
        name="search_book"
        placeholder="Search Books"
        list="search_list"
      />

     

      <datalist
        id="search_list"
        (click)="movieDetailsPage()"

        >
        <option
          class="option"
          *ngFor="let mv of bookList"
          value="{{ mv.title }}"
        >
        </option>
      </datalist>
    </form>
  </div> -->
